/* Font Used */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Nunito:wght@300;400;500;700&display=swap");

/* font-family: 'Dosis', sans-serif;
font-family: 'Nunito', sans-serif; */

:root {
  /* Color */
  --whiteColor: #eeeeee;
  --blackColor: #222831;
  --greyColor: #393e46;
  /* --greyColor: #393e465d; */
  --orangeColor: #d65a31;
  /* Font Size */
  --smallText: 0.5rem;
  --mediumText: 1rem;
  --largeText: 2rem;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1em;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  height: fit-content;
}

.content {
  flex-grow: 1;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

body {
  background-color: var(--whiteColor);
}

.navbar {
  /* background-color: red; */
  padding: 0 15px;
}

.navbar-nav {
  width: 40%;
}

.nav-item {
  margin: 0 auto;
  width: 150px;
  text-align: center;
}

.logo-navbar {
  width: 150px;
}

.home-footer {
  position: absolute;
  bottom: 2%;
  padding: 0 15px;
  width: 100%;
}
.circle-border {
  position: relative;
}

.circle-border-img {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.gallery-grid {
  width: 20px;
  height: 20px;
  margin: 15%;
}

.gallery-text {
  background-color: rgba(0, 0, 0, 0.384);
  position: absolute;
  bottom: 0%;
  padding: 13px 30px 13px 60px;
  /* width: fit-content; */
  border-radius: 5em;
  /* margin: -1px -10px; */
  /* z-index: -1; */
  display: none;
  /* text-align: center; */
  z-index: -1;
  color: var(--whiteColor);
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-text p {
  background-color: purple;
}

.circle-border-img:hover .gallery-grid {
  /* transform: rotate(90deg); */
  animation: rotateGrid 100ms linear forwards;
}
.circle-border-img:hover .gallery-text {
  /* transform: rotate(90deg); */
  display: block;
  animation: textDisplay ease-in-out 100ms forwards;
}

@keyframes textDisplay {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rotateGrid {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.home-slider {
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url("https://assets.website-files.com/593008e46c534e61e392e0f2/59410d755cd932488f52b4df_wexor-tmg-26886.jpg");
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://assets.website-files.com/593008e46c534e61e392e0f2/59410d755cd932488f52b4df_wexor-tmg-26886.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat; */
}

.home-slider .overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: var(--whiteColor);
  opacity: 0.2;
  /* background: -moz-linear-gradient(
    left,
    rgba(255, 62, 28, 0.5) 0%,
    rgba(255, 62, 28, 0.63) 26%,
    darkorange 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 62, 28, 0.5)),
    color-stop(26%, rgba(255, 62, 28, 0.63)),
    color-stop(100%, darkorange)
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 62, 28, 0.5) 0%,
    rgba(255, 62, 28, 0.63) 26%,
    darkorange 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 62, 28, 0.5) 0%,
    rgba(255, 62, 28, 0.63) 26%,
    darkorange 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 62, 28, 0.5) 0%,
    rgba(255, 62, 28, 0.63) 26%,
    darkorange 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 62, 28, 0.5) 0%,
    rgba(255, 62, 28, 0.63) 26%,
    darkorange 100%
  ); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-slider .banner .video {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Home Slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* Social Icons */

.social-icons {
  display: inline-flex;
  position: absolute;
  bottom: 2%;
  right: 15px;
}

.pie-wrapper {
  height: 50px;
  width: 50px;
  float: left;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 50px, 50px, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.15em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 25px, 50px, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  /* background: #34495e; */
  border-radius: 50%;
  bottom: 0;
  /* color: #ecf0f1; */
  cursor: default;
  display: block;
  /* font-size: 0.25esm; */
  left: 0;
  /* line-height: 2.8esm; */
  position: absolute;
  right: 0;
  /* text-align: center; */
  top: 0;
  z-index: -1;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  /* font-size: 0.45em; */
  /* padding-bottom: 20px; */
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.15em solid black;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: var(--whiteColor);
}
.pie-wrapper.progress-45 .pie .left-side {
  transform: rotate(180deg);
}
.pie-wrapper.progress-45:hover .pie .left-side {
  animation: rotateProgress 250ms linear forwards;
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}

@keyframes rotateProgress {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.social-icon-img {
  /* width: 30px;
  height: 30px; */
  font-size: 20px;
  color: var(--whiteColor);
}

.fa-facebook-f {
  margin: 30% 37.5%;
}

.fa-instagram {
  margin: 30% 32.5%;
}
